.button {
  background: #88da2f;
  font-weight: bold;
  width: 70px;
}

.opr-btn{
  background: #ea5757;
}

.clear{
  background: #48a6f7;
}

.screen {
  background: #b5d6c552;
  margin: 1rem 15%;
  padding: 1rem;

}
